<?xml version='1.0' encoding='utf-8'?>
<widget id="io.sonlink.killallradio" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Killall Radio</name>
    <description>
        Aplicación oficial de Killall radio
    </description>
    <author email="sonlink.dourden@gmail.com" href="https://github.com/son-link">
       Alfonso Saavedra "Son Link"
    </author>
    <content src="index.html" />
    <plugin name="org.apache.cordova.device"/>
    <preference name="KeepRunning" value="false"/>
	<feature name="http://api.phonegap.com/1.0/device"/>
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="firefoxos">
		<permission name="systemXHR" privileged="true" description="load data from server" />
	</platform>

</widget>
